<%if(snippets.userd){%>
<%if(snippets.userd.status=== 100102){%>
<div class="container d-flex flex-row justify-content-between p-2" id="btn-snip">
	<button class="btn btn-danger btn-md shadow" id="assodis"><data id="user_assoc_id" value = "<%=snippets.userd.id%>">Disassociate</data></button>
</div>
<%}}%>
<%if(snippets.store){%>
<form id="removeuser" name="removeuser">
	<div class="form-row align-items-center">
									<div class="form-group col-md-9 col-xs-9 mb-0"  id="storemanagers">
										<select class="form-control custom-select-sm" name="selectedremove" id="selectedremove">
											 <option selected>Choose User</option>
													  <%snippets.store.users.forEach((user)=>{ %>
											 <option value="<%=user._id%>"><%=user.fullName + ` - ( ` + user.username + ` )`%></option>
													  <%})%>
										</select>
									</div>
									<div class="form-group  col-md-3 col-xs-3 mb-0">
										<button class="btn btn-sm btn-danger form-control" id="removebtn" type="submit">Remove</button>
									</div>
	</div>
</form>
<%}%>
<%if(snippets.notf){%>
<div class="bg-secondary border-0 shadow dropdown-menu mt-4 p-0"  style="font-size: 10px" id="NotDropMenu" aria-labelledby="notificationdropdown">
										
										<%for (let x = notif.notifications.length -1; x >=0 ; x-- ){%>
											<a class="bg-dark text-white text-left dropdown-item border-0 p-1" style="height: 10px, width: 120px" data="<%=notif._id%>" href="<%=notif.notifications[x].link%>"><%=notif.notifications[x].notif_id%><span><p class="m-0 ml-4 p-0">
							  	<% var time = Date.now() - notif.notifications[x].timestamp; %>
							  	<%  if(Math.round(time/31104000000)){%>
								<%=Math.round(time/31104000000) + ' years ago' %>
								<%}else  if(Math.round(time/2592000000)){%>
								<%=Math.round(time/2592000000) + ' months ago' %>
								<%}else  if(Math.round(time/86400000)){%>
								<%=Math.round(time/86400000) + ' days ago' %>
								<%}else  if(Math.round(time/3600000)){%>
								<%=Math.round(time/3600000) + ' hours ago' %>
								<%}else  if(Math.round(time/60000)){%>
								<%=Math.round(time/60000) + ' minutes ago' %>
								<%}else  if(Math.round(time/1000)){%>
								<%=Math.round(time/1000) + ' seconds ago' %>
								<%}else{%>
								<%='Just now'%>
												<%}%>			
												</p></span></a>
										<%}%>
</div>
<%}%>