<%- include('partials/header') %>
<%- include('partials/form_header') %>
 <div class="container d-flex justify-content-center p-5">
	 <div class="container-fluid d-flex mb-5 text-wrap">
		<p class="">The page <span class="font-italic font-weight-bold text-break">"<%=path%>"</span>, you were trying to reach was not found</p> 
	 </div>
</div>
<%- include('partials/form_footer') %>
<%- include('partials/footer') %>