<!DOCTYPE html>
<html lang="en">
	<div id="detailitemdiv">
		<div class="container-fluid col-lg-10">
			<div class="row" id="imagerow">
			<div class="col-lg-12 d-flex flex-row justify-content-between">
				<div class="container d-flex flex-row justify-content-sm-between border border-secondary bg-light  shadow rounded mt-3 p-2">
					<img class="img-fluid rounded mx-auto" src="<%=product.url_path + product.productImage%>" alt="<%=product.productname%>" width="900">
				</div>
			</div>
			</div>
			<div class="row" id="thumbnailrow mx-0">
				<div class="col-lg-12 d-flex flex-row justify-content-between mx-0">
					<div class="row border border-secondary no-gutters rounded mt-3 mx-0 p-0">
						<%product.otherImages.forEach((image)=>{%>
						<div class="d-flex justify-content-center col-2 mx-0">
							<img src="<%=product.url_path + image%>" type="button" class="img-fluid img-thumbnail" width="900">
						</div>
						<%})%>
					</div>
				</div>
			</div>
			<div class="container-fluid border border-secondary rounded mt-3 p-3">
				<div class="row">
					<div class="col-lg-12 d-flex flex-row justify-content--between">

							<div class="container d-flex flex-row justify-content-between mt-0 p-3">
								<%=product.productname%>
							</div>

					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 d-flex flex-row justify-content-between">
						<div class="container d-flex flex-row justify-content-between mt-0 p-3">
								<span class="text-secondary"><%=product.description%></span>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid border border-secondary rounded mt-3 p-3">
				<table>
					<tbody>
						<tr>
							<td><p class="text-secondary font-italic col-lg-3">Sku:</p></td>
							<td><p class="col-lg-3"><%=product.sku%></p></td>
						</tr>
						<tr>
							<td><p class="text-secondary font-italic col-lg-3">Stock:</p></td>
							<td><p class="col-lg-3"><%=product.stock%></p></td>
						</tr>
						<tr>
							<td><p class="text-secondary font-italic col-lg-3">Price:</p></td>
							<td><p class="col-lg-3 text-nowrap"><%=product.price%><span class="text-secondary mx-2">Naira</span></p></td>
						</tr>
						<tr>
							<td>
								<p class="text-secondary font-italic col-lg-3">Promo:</p>
							</td>
							<td>
								<% if(product.promotion){%>
								<p class="col-lg-3 text-success">Yes<p>
								<%}else{%>
								<p class="col-lg-3 text-danger">No</p>
								<%}%>
							</td>
						</tr>
						<tr>
							<td><p class="text-secondary font-italic col-lg-3">Discount:</p></td>
							<td><p class="col-lg-3"><%=product.discount%>%</p></td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-lg-12 d-flex flex-row justify-content-end">
						<div class="row col-lg-6">
							<div class="container d-flex flex-row justify-content-between mt-3 p-2">
								<div class="container-fluid p-2">
									<button class="btn btn-success btn-sm text-nowrap shadow w-100" type="submit" id="edititem" data-productId="<%=product._id%>" >Edit</button>
								</div>
								<div class="container-fluid p-2">
									<button class="btn btn-danger btn-sm text-nowrap shadow w-100" type="submit" id="deleteitem" data-toggle="modal" data-target="#imageDeleteModal" >Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="imageDeleteModal" tabindex="-1" role="dialog" aria-labelledby="imageDeleteModalTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content bg-dark" id="modalcont">
									<div id="modcont">
										<div id="modalspinnerplug" hidden>
												<div class="d-flex justify-content-center mt-5" id="modalspinnerdiv" style="position: absolute; z-index: 1070; right: 50%; top: -12px" >
													<div class="spinner-border text-light mt-5" style="width: 3rem; height: 3rem;" role="status"> 
														 <span class="sr-only">Loading...</span>
													</div>
												</div>
										</div>
										<div class="modal-header">
											<h5 class="modal-title" id="imageUploadModalTitle">Delete Item</h5>
											<button type="button" class="close text-light" data-dismiss="modal" aria-label="close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form method="post" id="additionalimg" name="imgform" enctype="multipart/form-data">
										<div class="modal-body">
												<h6 class="d-inline">Confirm deletion of this Item</h6>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-danger" id="imgdeletebtn" data-productId="<%=product._id%>">Confirm</button>
										</div>
										</form>
									</div>
								</div>
								
							</div>
			</div>
		</div>
	</div>
</html>