<!DOCTYPE html>
<html lang="en">
	<div id="listitemsdiv">
	<%if(!inventory){%>
		<div class="row">
			<div class="col-lg-12" id="inventorydetail">
				<div class="container d-flex flex-row justify-content-center border border-success rounded mt-3 p-3">
					<p class="text-success">
						Your Product has been added successfully
					</p>
				</div>
			</div>
		</div>
	<%}else if(inventory.length < 1){%>
		<div class="row">
			<div class="col-lg-12" id="inventorydetail">
				<div class="container d-flex flex-row justify-content-sm-between border border-secondary rounded mt-3 p-3">
					<p>
						There are no items in this inventory
					</p>
				</div>
			</div>
		</div>
	<%}else{%>
	<%inventory.forEach((product)=>{%>
		<div class="row">
			<div class="col-lg-12" id="inventorydetail">
				<div class="container d-flex flex-row justify-content-sm-between border border-secondary rounded mt-3 p-3">
					<div class="row col-lg-2">
						<div class="container d-flex flex-column justify-content-center">
							<div>
								<img src="<%=product.url_path + product.productImage%>" alt="" class="img-thumbnail">
							</div>
						</div>
					</div>
					<div class="row col-lg-2">
							<div class="container d-flex flex-column justify-content-center">
								<div class="align-self-center">
								<%=product.sku%>
								</div>
							</div>
					</div>
					<div class="row col-lg-2">
							<div class="container d-flex flex-column justify-content-center">
								<div class="align-self-center">
								<%=product.stock%>
								</div>
							</div>
					</div>
					<div class="row col-lg-3">
							<div class="container d-flex flex-column justify-content-center">
								<div class="align-self-center">
								<%=product.price%>
								</div>
							</div>
					</div>
					<div class="row col-lg-3">
						<div class="container d-flex flex-column justify-content-center">
							<div clas="align-self-center">
								<a class="btn btn-outline-success btn-md shadow" id="itemdetailsbtn" data-id="<%=product._id%>">Manage</a>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	<%})%>
	<%}%>
	</div>
</html>