<%- include('../../partials/header') %>
<%- include('../../partials/vendordash_header.ejs') %>	
<div class="container col-md-8 col-xl-6 mt-5">
	<div class="container mt-2">
		<div class="container d-flex flex-column mb-5">
			<div class="align-self-center">
				<h2 class="text-capitalize"><%=store.storename%></h2>
			</div>
		</div>
		<div id="storedetail">
						<div class="container d-flex flex-row justify-content-sm-between border border-secondary rounded mt-3 p-3">
							<div class="row col-lg-9">
								<div class="container d-flex flex-column">
									<p class="font-weigt-lighter text-secondary mt-1 mb-1" >Description: <span class="text-light"><%=store.description%></span></p>						
									<p class="font-weigt-lighter text-secondary mt-1 mb-1" id="store-rdate">Rating: <span class="text-light">5</span></p>
									<p class="font-weigt-lighter text-secondary mt-1 mb-1" id="store-rdate">Category: <span class="text-light"><%=store.category%></span></p>
									<p class="font-weigt-lighter text-secondary mt-1 mb-1" id="store-rdate">Date Requested: <span class="text-light"><%=store.requestdate.toUTCString()%></span></p>
									<p class="font-weigt-lighter text-secondary mt-1 mb-1" id="store-rdate">Date Approved: <span class="text-light"><%=store.approvedate.toUTCString()%></span></p>
									<p class="font-weigt-lighter text-secondary mt-1 mb-1" id="store-status"> Status: <span class="text-success"><%=store.status%></span> </p>
									
									<div id="store-id" hidden><%store._id%></div>
								</div>
							</div>
							<div class="row col-lg-3">
								<div class="container d-flex flex-column">
									<div class="align-self-end my-auto">
									</div>
								</div>
							</div>
						</div>	
		</div>
	</div>
</div>
<%- include('../../partials/vendordash_footer.ejs') %>
<%- include('../../partials/footer') %>